<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bias Neutraliser</title>
</head>
<body>
    <h1>
        Bias Neutraliser
    </h1>
    <br>
    <strong>
        Please select a tagger and neutraliser model
    </strong>
    <br>
    Make sure you've trained the models you wish to use!
    <br>
    <strong style="color:red;">
        {% autoescape false %}
            {{error}}
        {% endautoescape %}
    </strong>

    <br>

    <form action="{{ url_for('get_models') }}" method='post'>

    <select name= taggers method="GET" action="/">
        {% for tagger in taggers %}
        <option value= "{{tagger}}" SELECTED>{{tagger}}</option>"
        {% endfor %}
    </select>

    <br>

    <select name= neutralisers method="GET" action="/">
        {% for neutraliser in neutralisers %}
        <option value= "{{neutraliser}}" SELECTED>{{neutraliser}}</option>"
        {% endfor %}
    </select>

    <br>

    <input type='submit' value='Load models'>
</form>
</body>


<!--
<form method="POST">
    <input name="variable">
    <input type="submit">
</form>
-->
</body>
</html>
