<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bias Neutraliser</title>
    <link rel="stylesheet" href="styles.css">
</head>
<style>
    .content {
        margin: auto;
        width: 50%;
    }
    input[type=submit] {
        padding: 12px 20px;
        margin: 8px 0;
        color: white;
        font-size: 16px;
        background-color: turquoise;
        margin: auto;
        width: 25%;
        text-align: center;
    }
    option{
        font-size: 14px;
        text-align: center;
    }
    form{
        font-size: 14px;
        text-align: center;
    }
    </style>
<body>
    <div class="content">
    <h1>
        Bias Neutraliser
    </h1>
    <br>
        Welcome to the bias neutraliser! This system hopes to identify and neutralise biased text. 
        <br>
        Choose a tagger model to identify the bias, and a neutraliser to remove it.
        <br>
        You can see a brief overview of each model available on this page.
        <br>
        Please make sure you've trained the models you wish to use!
    
    <br>
    <strong style="color:red;">
        {% autoescape false %}
            {{error}}
        {% endautoescape %}
    </strong>

    <br>

    <form action="{{ url_for('get_models') }}" method='post'>

    <select name= taggers method="GET" action="/">
        {% for tagger in taggers %}
        <option value= "{{tagger}}" SELECTED>{{tagger}}</option>"
        {% endfor %}
    </select>

    <select name= neutralisers method="GET" action="/">
        {% for neutraliser in neutralisers %}
        <option value= "{{neutraliser}}" SELECTED>{{neutraliser}}</option>"
        {% endfor %}
    </select>

    <br>

    <input type='submit' value='Load models' onclick="$('#loading').show();">
</form>
<div class="loader" id="loading"></div>
</body>


</div>
</html>
