<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bias Neutraliser</title>
    <link rel="stylesheet" href="styles.css">
</head>
<style>
    .content {
        width: 50%;
        margin: auto;
    }
    textarea {
        border: 2px solid black;
        border-radius: 4px;
        font-size: 14px;
    }
    input[type=submit] {
        padding: 12px 20px;
        margin: 8px 0;
        color: white;
        font-size: 16px;
        background-color: turquoise;
        margin: auto;
        width: 25%;
        text-align: center;
    }
    </style>

<body>
    <div class="content">
    <h1>
        Bias Neutraliser
    </h1>
    <br>
        Welcome to the bias neutraliser! This system hopes to identify and neutralise biased text. 
        <br>
        Please input the text you wish to investigate below and then press submit to run the models.
        <br>
        Alternatively, select return to load different models.
        <br>
    <strong>
        Models selected:
        <br>
        Tagger: {{tagger}}
        <br>
        Neutraliser: {{neutraliser}}
    </strong>
    <br>
    <strong>
        Please write your text below:
    </strong>
    <br>
    <textarea rows="4" cols="50" name="textinput" form="inputform">{{residual_text}}</textarea>
    <form method="POST" id="inputform" action="{{ url_for('run_model') }}">
        <input type="submit" name="run" value="Run">
        <input type="submit" name="return" value="Return">
    </form>
    <br>

    {{biased}}

    <br>
    <textarea readonly rows="4" cols="50" name="textoutput">
        {{out_text}}
    </textarea>
    </div>
</body>