<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bias Neutraliser</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>
        Bias Neutraliser
    </h1>
    <br>
    <strong>
        Tagger: {{tagger}}
        <br>
        Neutraliser: {{neutraliser}}
    </strong>
    <br>
    <strong>
        Please write your text below:
    </strong>
    <br>
    <textarea rows="4" cols="50" name="textinput" form="inputform"></textarea>
    <form method="POST" id="inputform">
        <input type="submit">
    </form>
</body>