<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <title>Bias Neutraliser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}" />
</head>
<style>
.content {
  max-width: 700px;
  margin: auto;
}
h1{
    padding-top: 25px;
}
</style>

<body>
    <div class="content">
    <h1>
        Bias Neutraliser
    </h1>
    <br>
        Welcome to the bias neutraliser! This system hopes to identify and neutralise biased text. 
        <br>
        Please input the text you wish to investigate below and then press submit to run the models.
        <br>
        Alternatively, select return to load different models.
        <br>
    <strong>
        Models selected:
        <br>
        Tagger: {{tagger}}
        <br>
        Neutraliser: {{neutraliser}}
    </strong>
    <br>
    <strong>
        Please write your text below:
    </strong>
    <br>
    <form method="POST" id="inputform" action="{{ url_for('run_model') }}">

        <formset>
            <textarea id="textinput" rows="4" cols="50" name="textinput" form="inputform">{{residual_text}}</textarea>
            <br>
            <button type="submit" class="btn btn-outline-primary" name="run" value="Run">Run</button>
            <button type="submit" class="btn btn-outline-primary" name="return" value="Return">Return</button>
        </formset>
    </form>
    <br>

    {{biased}}

    <br>
    <label for="textoutput">Output</label>
    <br>
    <textarea readonly id="textoutput" rows="4" cols="50" name="textoutput">
        {{out_text}}
    </textarea>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>